@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to Erm's TuneTown Emporium</h1>
    
    <h2 class ="display-9"> Click the music tab to browse our awesome selection of music</h2>

        <div>
            <img src="../cats.jpg"  class="img-fluid">
        </div>
</div>
